.Tarefas{
    width: 50rem;
    background-color: #3DE0F2;
    margin-bottom: 40px !important;
    border-radius: 10px;

    &__li{
        position: relative;
        list-style-type: none;
        width: 100%;
        display: flex;
        align-items: center;
        height: 35px;
    }

    &__concluido{
        position: absolute;
    }

    &__descricao{
        width: 70%;
        text-align: start;
        margin-left: 70px !important;
        color: #503BD9;
        font-weight: 700;
        background-color: transparent;
        border: none;
        font-size: 18px;
    }

    &__descricao:focus{
        background-color: white;
    }

    &__icons{
        position: absolute;
        right: 30px;
        width: 50px;
        display: flex;
        gap: 10px;
        
        img{
            height: 25px;
        }
    }

    a{
        cursor: pointer;
    }

    &__checkbox{
        width: 25px !important;
        height: 25px !important;
        margin-left: 10px !important;
    }
}