* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

:root{
  background-color: rgb(255, 34, 71, 0.4862745098) !important;
  height: 100vh !important;
}

h1 {
  font-family: 'Racing Sans One', sans-serif;
  color: #503BD9;
  font-size: 64px;
}

p, a, label, button {
  font-family: 'Roboto', sans-serif;
}

#root{
  max-width: 100%;
}